<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <p-button
            label="Tambah Data"
            icon="pi pi-plus"
            styleClass="p-button-sm mr-2"
            class="mr-2"
            (onClick)="openNewDaftar()"
        ></p-button>
        <p-button
            label="Delete"
            icon="pi pi-trash"
            styleClass="p-button-sm mr-2 p-button-danger"
            outlined
            (onClick)="deleteSelectedDaftar()"
            [disabled]="!selectedMasterupts || selectedMasterupts.length === 0"
        ></p-button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-button
            label="Export Excel"
            icon="pi pi-file-excel"
            styleClass="p-button-sm mr-2"
            (onClick)="exportExcel()"
        ></p-button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="masteruptList"
    [(selection)]="selectedMasterupts"
    [loading]="loadingDaftar"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['kdupt', 'nmupt', 'akroupt', 'status']"
    [sortField]="'nmupt'"
    [sortOrder]="1"
    selectionMode="multiple"
    responsiveLayout="scroll"
    class="p-datatable-gridlines p-datatable-sm"
>
    <!-- Search -->
    <ng-template pTemplate="caption">
        <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        >
            <h5 class="m-0">Daftar Entitas</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>

                <input
                    #searchBox
                    pInputText
                    type="text"
                    placeholder="Search..."
                    (input)="onGlobalFilter(dt, $event)"
                    class="w-full sm:w-auto"
                />
            </span>
        </div>
    </ng-template>
    <!-- End Search -->
     
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="kdupt">
                Kode UPT <p-sortIcon field="kdupt"></p-sortIcon>
            </th>
            <th pSortableColumn="nmupt">
                Nama UPT <p-sortIcon field="nmupt"></p-sortIcon>
            </th>
            <th pSortableColumn="kdlevel">
                Level <p-sortIcon field="kdlevel"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
                Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th>Aksi</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>{{ item.kdupt }}</td>
            <td>{{ item.nmupt }}</td>
            <td>{{ getKdLevelLabel(item.kdlevel) }}</td>
            <td>{{ getStatusLabel(item.status) }}</td>
            <td>
                <p-button
                    icon="pi pi-pencil"
                    styleClass="p-button-text p-button-sm mr-2"
                    (click)="editDaftar(item)"
                ></p-button>
                <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-text p-button-sm p-button-danger"
                    (click)="confirmDeleteDaftar(item)"
                >
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Dialog Pendapatan -->
<p-dialog
    [(visible)]="masteruptDialog"
    [modal]="true"
    [style]="{ width: '900px' }"
    header="{{ masteruptEdit ? 'Edit' : 'Tambah' }} Daftar"
>
    <div class="card p-fluid">
        <!-- ID UPT (Readonly saat edit) -->
        <div class="field" *ngIf="masteruptEdit">
            <label for="idupt">ID UPT</label>
            <input
                id="idupt"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterupt.idupt"
                readonly
            />
        </div>

        <div class="p-formgrid grid">
            <!-- Kode Level -->
            <div class="field col">
                <label for="kdlevel">Level</label>
                <p-dropdown
                    [(ngModel)]="selectedMasterupt.kdlevel"
                    [options]="kdLevelOptions"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Pilih level"
                >
                </p-dropdown>
            </div>
            <!-- Unit Induk / Parent -->
            <!-- <div class="field col">
                <label for="idparent">Parent</label>
                <p-dropdown [(ngModel)]="selectedMasterupt.idparent" [options]="parentOptions" optionLabel="label" optionValue="value" placeholder="Pilih rekening induk (jika ada)"> </p-dropdown>
            </div> -->
        </div>

        <!-- Kode UPT -->
        <div class="field">
            <label for="kdupt">Kode UPT</label>
            <input
                id="kdupt"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterupt.kdupt"
                required
            />
        </div>

        <!-- Nama UPT -->
        <div class="field">
            <label for="nmupt">Nama UPT</label>
            <input
                id="nmupt"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterupt.nmupt"
                required
            />
        </div>

        <!-- Jenis Kab/Kota -->
        <div class="field">
            <label for="idkabkota">Pilih Kabupaten/Kota</label>
            <p-dropdown
                [(ngModel)]="selectedMasterupt.idkabkota"
                [options]="masterkabkotumOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Pilih kabupaten/kota"
            >
            </p-dropdown>
        </div>

        <!-- Alamat -->
        <div class="field">
            <label for="alamat">Alamat</label>
            <input
                id="alamat"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterupt.alamat"
            />
        </div>

        <!-- Jenis Bank -->
        <div class="field">
            <label for="idbank">Pilih Bank</label>
            <p-dropdown
                [(ngModel)]="selectedMasterupt.idbank"
                [options]="masterbankOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Pilih Bank"
            >
            </p-dropdown>
        </div>

        <!-- Jenis Kepala -->
        <div class="field">
            <label for="kepala">Pilih Kepala</label>
            <p-dropdown
                [(ngModel)]="selectedMasterupt.kepala"
                [options]="masterpegawaiOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Pilih kepala"
            >
            </p-dropdown>
        </div>

        <!-- Koordinator -->
        <div class="field">
            <label for="koordinator">Pilih Koordinator</label>
            <p-dropdown
                [(ngModel)]="selectedMasterupt.koordinator"
                [options]="masterpegawaiOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Pilih koordinator"
            >
            </p-dropdown>
        </div>

        <!-- Bendahara -->
        <div class="field">
            <label for="bendahara">Pilih Bendahara</label>
            <p-dropdown
                [(ngModel)]="selectedMasterupt.bendahara"
                [options]="masterpegawaiOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Pilih bendahara"
            >
            </p-dropdown>
        </div>

        <!-- Akroupt -->
        <div class="field">
            <label for="akroupt">Akronim Unit Pelaksana Teknis</label>
            <input
                id="akroupt"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterupt.akroupt"
                required
            />
        </div>

        <!-- Nomor Telepon -->
        <div class="field">
            <label for="telepon">Telepon</label>
            <input
                id="telepon"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterupt.telepon"
            />
        </div>

        <!-- Jenis Type -->
        <div class="field">
            <label for="type">Tipe</label>
            <div class="flex gap-4">
                <div class="flex items-center">
                    <p-radioButton
                        name="type"
                        value="1"
                        [(ngModel)]="selectedMasterupt.type"
                        inputId="typeH"
                    ></p-radioButton>
                    <label class="leading-none ml-2">H (Header)</label>
                </div>
                <div class="flex items-center">
                    <p-radioButton
                        name="type"
                        value="0"
                        [(ngModel)]="selectedMasterupt.type"
                        inputId="typeD"
                    ></p-radioButton>
                    <label class="leading-none ml-2">D (Detail)</label>
                </div>
            </div>
        </div>

        <!-- Status -->
        <div class="field">
            <label>Status</label>
            <div class="flex gap-4">
                <div class="flex items-center">
                    <p-radioButton
                        id="status1"
                        name="status"
                        value="1"
                        [(ngModel)]="selectedMasterupt.status"
                        inputId="statusAktif"
                    ></p-radioButton>
                    <label for="status1" class="leading-none ml-2">Aktif</label>
                </div>
                <div class="flex items-center">
                    <p-radioButton
                        id="status2"
                        name="status"
                        value="0"
                        [(ngModel)]="selectedMasterupt.status"
                        inputId="statusNonAktif"
                    ></p-radioButton>
                    <label for="status2" class="leading-none ml-2"
                        >Tidak aktif</label
                    >
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Batal"
            icon="pi pi-times"
            styleClass="p-button-text"
            (click)="masteruptDialog = false"
        ></p-button>
        <p-button
            label="Simpan"
            icon="pi pi-check"
            (click)="saveDaftar()"
        ></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
