<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <p-button
            label="Tambah Data"
            icon="pi pi-plus"
            styleClass="p-button-sm mr-2"
            (onClick)="openNewDaftar()"
        ></p-button>
        <p-button
            label="Delete"
            icon="pi pi-trash"
            styleClass="p-button-sm mr-2 p-button-danger"
            (onClick)="deleteSelectedDaftar()"
            [disabled]="
                !selectedMasterbendaharas ||
                selectedMasterbendaharas.length === 0
            "
        ></p-button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-button
            label="Export Excel"
            icon="pi pi-file-excel"
            styleClass="p-button-sm mr-2"
            (onClick)="exportExcel()"
        ></p-button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="masterbendaharaList"
    [(selection)]="selectedMasterbendaharas"
    [loading]="loadingDaftar"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['koordinator', 'nama']"
    [sortField]="'koordinator'"
    [sortOrder]="1"
    selectionMode="multiple"
    responsiveLayout="scroll"
    class="p-datatable-gridlines p-datatable-sm"
>
    <!-- Search -->
    <ng-template pTemplate="caption">
        <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        >
            <h5 class="m-0">Daftar Bendahara</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>

                <input
                    #searchBox
                    pInputText
                    type="text"
                    placeholder="Search..."
                    (input)="onGlobalFilter(dt, $event)"
                    class="w-full sm:w-auto"
                />
            </span>
        </div>
    </ng-template>
    <!-- End Search -->

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="koordinator">
                Koordinator <p-sortIcon field="koordinator"></p-sortIcon>
            </th>
            <th pSortableColumn="norek">
                Nomor Rekening <p-sortIcon field="norek"></p-sortIcon>
            </th>
            <th pSortableColumn="nama">
                Nama<p-sortIcon field="nama"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
                Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th>Aksi</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>{{ getKoordinatorLabel(item.koordinator) }}</td>
            <td>{{ item.norek }}</td>
            <td>{{ item.nama }}</td>
            <td>{{ getStatusLabel(item.status) }}</td>
            <td>
                <p-button
                    icon="pi pi-pencil"
                    styleClass="p-button-text p-button-sm mr-2"
                    (click)="editDaftar(item)"
                ></p-button>
                <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-text p-button-sm p-button-danger"
                    (click)="confirmDeleteDaftar(item)"
                >
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- Dialog Pendapatan -->
<p-dialog
    [(visible)]="masterbendaharaDialog"
    [modal]="true"
    [style]="{ width: '1200px' }"
    header="{{ masterbendaharaEdit ? 'Edit' : 'Tambah' }} Daftar"
>
    <div class="card p-fluid">
        <!-- ID BENDAHARA (Readonly saat edit) -->
        <div class="field" *ngIf="masterbendaharaEdit">
            <label for="idbend">ID Bendahara</label>
            <input
                id="idbend"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterbendahara.idbend"
                readonly
            />
        </div>

        <!-- Nama pegawai -->
        <div class="field">
            <label for="nama">Nama bendahara</label>
            <p-dropdown
                [options]="masterpegawaiOptions"
                [(ngModel)]="selectedMasterbendahara.idpegawai"
                placeholder="Pilih Nama Pegawai"
                optionLabel="label"
                optionValue="value"
                (onChange)="onPegawaiChange($event)"
            >
            </p-dropdown>
        </div>

        <!-- BANK -->
        <div class="field">
            <label for="idbank">Nama Bank</label>
            <p-dropdown
                [options]="masterbankOptions"
                [(ngModel)]="selectedMasterbendahara.idbank"
                placeholder="Pilih BANK"
                optionLabel="label"
                optionValue="value"
            >
            </p-dropdown>
        </div>

        <div class="p-formgrid grid">
            <!-- Nomor Rekening -->
            <div class="field col">
                <label for="norek">Nomor Rekening Bendahara</label>
                <input
                    id="norek"
                    type="text"
                    pInputText
                    [(ngModel)]="selectedMasterbendahara.norek"
                    required
                />
            </div>
            <!-- Nama Rekening -->
            <div class="field col">
                <label for="namarek">Nama Pemilik Rekening</label>
                <input
                    id="namarek"
                    type="text"
                    pInputText
                    [(ngModel)]="selectedMasterbendahara.namarek"
                    required
                />
            </div>
        </div>

        <!-- Keterangan -->
        <div class="field">
            <label for="ket">Keterangan (opsional)</label>
            <input
                id="ket"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterbendahara.ket"
            />
        </div>

        <!-- ID Reknrc -->
        <div class="field">
            <label for="idreknrc">Kode Rekening Kas Neraca</label>
            <p-autoComplete
                [(ngModel)]="selectedMasterbendahara.idreknrc"
                [suggestions]="filteredReknrc"
                (completeMethod)="searchReknrc($event)"
                field="label"
                [dropdown]="true"
                placeholder="Pilih kode rekening kas neraca"
            >
            </p-autoComplete>
        </div>

        <!-- Koordinator -->
        <div class="field">
            <label for="koordinator">Koordinator</label>
            <p-dropdown
                [options]="masteruptOptions"
                [(ngModel)]="selectedMasterbendahara.koordinator"
                placeholder="Pilih Nama UPT"
                optionLabel="label"
                optionValue="value"
            >
            </p-dropdown>
        </div>

        <!-- Jabatan -->
        <!-- <div class="flex flex-col gap-2">
            <label for="jabatan">Jabatan</label>
            <input id="jabatan" type="text" pInputText [(ngModel)]="selectedMasterbendahara.jabatan" readonly />
        </div> -->

        <!-- Pangkat -->
        <!-- <div class="flex flex-col gap-2">
            <label for="pangkat">Pangkat</label>
            <input id="pangkat" type="text" pInputText [(ngModel)]="selectedMasterbendahara.pangkat" readonly />
        </div> -->

        <!-- UID -->
        <!-- <div class="flex flex-col gap-2">
            <label for="uid">UID</label>
            <input id="uid" type="text" pInputText [(ngModel)]="selectedMasterbendahara.uid" />
        </div> -->

        <!-- Telepon -->
        <div class="field">
            <label for="telepon">Telepon (opsional)</label>
            <input
                id="telepon"
                type="text"
                pInputText
                [(ngModel)]="selectedMasterbendahara.telepon"
                required
            />
        </div>

        <!-- Jenis Bendahara -->
        <div class="field">
            <label for="jnsbend">Pilih Bendahara</label>
            <div class="flex gap-4">
                <div class="flex items-center">
                    <p-radioButton
                        id="jnsbend1"
                        name="jnsbend"
                        value="1"
                        [(ngModel)]="selectedMasterbendahara.jnsbend"
                        inputId="jnsbendAktif"
                    ></p-radioButton>
                    <label for="jnsbend1" class="leading-none ml-2">Bendaharaan Penerimaan</label>
                </div>
            </div>
        </div>

        <!-- Status -->
        <div class="field">
            <label>Status</label>
            <div class="flex gap-4">
                <div class="flex items-center">
                    <p-radioButton
                        name="status"
                        value="1"
                        [(ngModel)]="selectedMasterbendahara.status"
                        inputId="statusAktif"
                    ></p-radioButton>
                    <label for="statusAktif" class="leading-none ml-2">Aktif</label>
                </div>
                <div class="flex items-center">
                    <p-radioButton
                        id="status2"
                        name="status"
                        value="0"
                        [(ngModel)]="selectedMasterbendahara.status"
                        inputId="statusNonAktif"
                    ></p-radioButton>
                    <label for="status2" class="leading-none ml-2">Tidak Aktif</label>
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Batal"
            icon="pi pi-times"
            styleClass="p-button-text"
            (click)="masterbendaharaDialog = false"
        ></p-button>
        <p-button
            label="Simpan"
            icon="pi pi-check"
            (click)="saveDaftar()"
        ></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
