<h4>Register User</h4>
<div class="card p-fluid">
    <div class="field">
        <label for="userid">Username</label>
        <input pInputText id="userid" type="text" [(ngModel)]="userid" />
    </div>
    <div class="field">
        <label for="nama">Nama</label>
        <input pInputText id="nama" type="text" [(ngModel)]="nama" />
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input pInputText id="email" type="text" [(ngModel)]="email" />
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input
            pInputText
            id="password"
            type="password"
            [(ngModel)]="password"
        />
    </div>
    <div class="field">
        <label for="kdgroup">Kode Group</label>
        <p-dropdown
            id="kdgroup"
            [(ngModel)]="kdgroup"
            [options]="dropdownItems"
            optionLabel="label"
            optionValue="value"
            placeholder="Select One"
            class="w-full"
        >
        </p-dropdown>
    </div>
    <div class="button-container">
        <button
            pButton
            pRipple
            type="button"
            label="Register"
            (click)="register()"
            [loading]="loading"
        ></button>
        <button
            pButton
            pRipple
            type="button"
            label="Kembali"
            class="p-button-danger p-button-text"
            routerLink="/management-users/manajemen-pengguna"
        ></button>
    </div>
</div>
